<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="hello-world">
    <style>
        h1 {
            color: blue;
        }
    </style>
    <template>
        <h1>{{title}}</h1>
        <h2>[[message]]</h2>
        <input type="text" placeholder="Update title..."
            value="{{title::input}}">
    </template>
</dom-module>

<script>
    Polymer({
        is: 'hello-world',
        properties: {
            firstName: {
                type: String,
                value: 'World'
            },
            title: {
                type: String,
                value: 'Polymer Study'
            },
            message: {
                type: String,
                computed: 'greet(firstName)'
            }
        },
        greet: function (name) {
            return 'Hello, ' + name + '!';
        }
    });
</script>
